html {
    color: #eee;
    background-color: #000;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#logo {
    font-size: 2em;
}

.days {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.date {
    font-size: 1.5em;
}

.shows {
    display: flex;
    width: 100%;
    overflow-x: auto;
    gap: 1em;
}

x-show {
    font-size: 0.75em;
    display: grid;
    grid-template-rows: 12rem 1fr;
    flex-shrink: 0;
    flex-grow: 0;
    width: 8rem;
    background-color: #333;
    border-radius: 0.5em;
    overflow: hidden;
}

.cover:not(.bookable) {
    filter: grayscale(1) opacity(0.5);
}

.cover {
    position: relative;
}

img {
    height: 100%;
    object-fit: cover;
}

.time {
    position: absolute;
    pointer-events: none;
    padding: 0.5em;
    top: 0;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%;
    background: linear-gradient(to bottom, #000, #3331);
}

.seats {
    position: absolute;
    opacity: 0.5;
    top: 0;
    right: 0;
    font-size: 0.75em;
}


.info {
    position: absolute;
    bottom: 0;
    padding: 0.5em;
    padding-top: 1em;
    overflow: hidden;
    background: linear-gradient(to top, #000, #3331);
    width: 100%;
}

.title {
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.cinema {
    text-transform: uppercase;
    font-size: 0.75em;
}

a {
    color: inherit;
    text-decoration: none;
}

.available, .reserved {
    line-height: 2em;
    font-weight: bold;
    color: #000;
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    background-color: var(--green);
}

.reserved {
    background-color: var(--yellow);
}

.booked {
    background-color: var(--red);
}

x-chart svg {
    margin-top: 2em;
    display: block;
    width: 100%;
    height: 2em;
    fill: var(--green);
}

x-details {
    display: grid;
    max-width: 50em;
    margin: 1em auto;
    background-color: #333;
    border-radius: 0.25em;
    overflow: hidden;
}

x-details img {
    height: 30em;
    width: 100%;
    object-fit: cover;
}

x-details .title {
    margin: 0.5rem 1rem;
    font-size: 1.5em;
    white-space: initial;
}

x-details .cinema {
    margin: 0 1rem;
}

x-details .trailer {
    margin: 1rem;
    position: relative;
}

x-details .trailer a {
    padding: 0.25em;
    background-color: var(--yellow);
    color: #000;
    right: 0;
    position: absolute;
    font-weight: bold;
}

x-details .description {
    margin: 1rem;
    line-height: 1.5;
}

@media (min-device-width: 768px) {
    x-show {
        font-size: 1em;
        grid-template-rows: 20rem 1fr;
        width: 13rem;
    }
}
