html {
    box-sizing: border-box;
}

body {
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

ul[class], ol[class] {
    list-style: none;
    margin: 0;
    padding: 0;
}

:root {
    --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --font-serif: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --green: hsl(95, 40%, 60%);
    --yellow: hsl(45, 100%, 70%);
    --red: hsl(350, 85%, 60%);
}
